.card {
    max-width: 100%;

    .cardWrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 10px;

        .cardImage {
            max-width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
            margin-bottom: 20px;
            cursor: pointer;

            img {
                max-width: 100%;
                object-fit: cover;
                transition: all .3s;
                &:hover {
                    opacity: 1;
                    box-shadow: 0 15px 45px -5px rgb(7 10 25 / 25%);
                    -webkit-filter: brightness(1.07);
                    filter: brightness(1.07);
                    transform: translate(0,-2px);
                }
            }
        }

        .cardContent {
            display: flex;
            flex-direction: column;
            padding: 0 20px;
            justify-content: space-between;
            max-width: 100%;
            gap: 20px;

            .cardCategory {
                color: rgb(21, 128, 186);
                font-size: 1rem;
                cursor: pointer;
            }

            .cardTitle {
                font-size: 1.3rem;
                color: #0b2050;
                font-weight: 700;
                cursor: pointer;
            }

            .cardExcerpt {
                color: #626365;
                font-weight: 300;
                line-height: 1.5rem;
                margin: 0;
                // color: white;
                font-size: 0.8rem;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 3; /* number of lines to show */
                        line-clamp: 3; 
                -webkit-box-orient: vertical;
            }

            .cardMeta {
                width: 100%;
                display: flex;
                align-items: center;
                gap: 10px;
                font-weight: 300;

                .cardAuthorDate {
                    display: flex;
                    flex-direction: column;
                    gap: 3px;

                    .cardAuthor {
                        font-weight: 400;
                        cursor: pointer;
                    }

                    .cardpubDate {
                        color: #626365;
                        font-size: .9rem;
                    }
                }
            }
        }
    }
}